@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.Website_Name {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.WhatSaying {
  font-size: 50px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.swiperStyle,
.FindMore,
.blogContainer,
.talk {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.coding {
  position: absolute;
  top: 500px;
  left: -40px;
  font-weight: bold;
  color: rgb(198, 198, 198);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  transform: rotate(-90deg);
}
.desire {
  position: absolute;
  top: 200px;
  left: -20px;
  font-weight: bold;
  color: rgb(198, 198, 198);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  transform: rotate(-90deg);
}
.coding:hover,
.desire:hover {
  color: gray;
}
.FindMore:hover img {
  margin-left: -8px;
}
.FindMoreX:hover img {
  margin-left: -15px;
}
.talkTitle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.imgHover {
  transition: transform 0.5s;
  box-shadow: rgb(224, 224, 224) 10px 10px 20px -4px;
}
.imgHover:hover {
  transform: translateY(-13px);
}

/* product  */
.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  transition: transform 0.3s ease;
}

.image-container:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}
span {
  color: cornflowerblue;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

/* header */
header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 80px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

header.scrolled {
  background-color: white;
}
header.hidden {
  display: none;
}

/* conversion */
.imContainer {
  position: relative;
}

.image-wrapper {
  position: absolute;
  animation: moveUpDown 6s infinite alternate;
}

@keyframes moveUpDown {
  from {
    top: -50px;
  }
  to {
    top: 200px;
  }
}
/* text */
.text-container {
  transition: opacity 3s ease;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

/* responsive Start  */

@media (max-width: 700px) {
  body {
    overflow-x: hidden;
    max-width: 428px;
  }

  /* Header Style */

  #headerContainer {
    width: 428px;
    position: absolute;
    padding-bottom: 20px;
  }

  #navContainer {
    display: none;
  }
  #websiteLogo {
    width: 25px;
  }
  #headerName {
    font-size: 25px;
  }

  /* Main Swiper Style */

  #mainCarouselTitle {
    font-size: 14px;
  }
  #mainCarouselSlider {
    margin: 5px 0;
    width: 200px;
    font-size: 12px;
  }
  #mainSwiper {
    margin-left: 220px;
    margin-top: -350px;
  }
  #swiperImg {
    width: 250px;
    height: 150px;
  }
  .swiperStyle {
    margin-left: 4px;
  }

  /* Some Piece Style*/

  #SomePieceImgContent {
    display: none;
  }
  .desire {
    position: absolute;
    top: 200px;
    left: -20px;
    font-weight: bold;
    color: rgb(198, 198, 198);
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 8px;
    transform: rotate(-90deg);
  }
  .coding {
    position: absolute;
    top: 350px;
    left: -30px;
    font-weight: bold;
    color: rgb(198, 198, 198);
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 8px;
    transform: rotate(-90deg);
  }
  #somePieceBtn {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  #somePieceBtn small {
    padding: 5px 10px;
    font-size: 10px;
  }
  #somePieceBtn img {
    width: 30px;
    margin-top: 4px;
  }

  /* Footer Style */

  #footerContainer {
    padding: 20px;
    margin-top: 0px;
  }
  #footerTitle h1 {
    font-size: 10px;
    margin-bottom: 5px;
  }
  #footerTitle img {
    display: none;
  }
  #footerTitle p {
    font-size: 8px;
  }
  #footerMediaImg {
    position: absolute;
    margin-top: -40px;
    margin-left: 120px;
  }
  #footerMediaImg img {
    position: relative;
    width: 25px;
    padding: 7px;
  }
  #footerText {
    font-size: 10px;
    width: 120px;
  }

  /* Conversion Style */

  #conversionContainer {
    margin: 20px 5px;
  }
  #conversionContainer #firstImg {
    width: 250px;
    height: 170px;
  }
  #conversionTextContainer {
    width: 250px;
    margin-left: 10px;
  }
  #conversionTextContainer h1 {
    margin: 0px;
    font-size: 16px;
    font-weight: bolder;
  }
  #conversionTextContainer a {
    margin: 0px;
    padding: 0px;
  }
  #conversionTextContainer a p {
    padding: 5px;
    font-size: 8px;
  }
  #conversionText {
    margin: 0px;
    font-size: 8px;
  }

  /* Marquee Style */

  #marqueeContainer {
    margin: 0px;
    margin-bottom: 20px;
  }
  #marqueeContainer img {
    width: 20px;
    height: 25px;
  }
  #marqueeContainer h1 {
    font-size: 12px;
  }
  #marqueeContainer p {
    font-size: 10px;
  }
  #marqueeSubContainer {
    padding: 10px;
  }

  /* ExcitingFeature Style */

  #ExcitingFeatureBG {
    margin: 20px 35px;
    display: block;
  }
  #ExcitingFeatureContainer {
    padding: 10px 0;
    margin: 0px;
  }
  #ExcitingFeatureTitle {
    margin-bottom: 20px;
    font-size: 18px;
  }
  #ExcitingFeatureCard {
    width: 350px;
    margin: 0px;
    padding: 15px 30px;
    margin-bottom: 20px;
  }
  #ExcitingFeatureCard img {
    width: 30px;
  }
  #ExcitingFeatureCard h1 {
    margin: 0px;
    font-size: 16px;
  }
  #ExcitingFeatureCard p {
    font-size: 10px;
    width: 300px;
    margin: 0px;
  }

  /* Home Blog Style */

  #blogMainContainer {
    display: block;
    margin: 0;
    margin-top: 150px;
    padding: 40px 20px;
  }
  #blogSubContainer {
    border: none;
    border-bottom: 2px solid skyblue;
    width: 350px;
    margin-bottom: 20px;
  }
  #blogSubContainer h2 {
    margin: 0px;
    font-size: 16px;
  }
  #blogSubContainer p {
    margin: 0px;
    width: 350px;
    font-size: 10px;
  }
  #blogSubContainer button {
    margin: 0px;
    font-size: 12px;
  }

  /* BusinessText Style */

  #BusinessTextContainer {
    margin: 50px 20px;
  }
  #BusinessTextContainer p small {
    font-size: 10px;
    margin: 0px;
  }
  #BusinessTextTitle {
    font-size: 25px;
    margin: 10px 0;
  }
  #BusinessTextContainer p {
    font-size: 10px;
    width: 200px;
  }
  #BusinessTextContainer a {
    margin: 10px 0;
  }
  #BusinessTextContainer a small {
    font-size: 8px;
    margin: 0px;
    padding: 10px 5px;
  }
  #BusinessTextContainer a img {
    width: 30px;
  }
  #BusinessTextBusinessCarouselTogether {
    margin: 30px 0;
  }

  /* BusinessCarousel Style */

  #BusinessCarouselContainer {
    margin: 50px 0;
    margin-left: 250px;
    margin-top: -450px;
  }
  #BusinessCarouselImg {
    width: 200px;
    height: 200px;
  }

  /* Scroll Top */

  .scrollHover img {
    width: 30px;
  }

  /* Service Style */

  #parallaxContainer {
    padding: 50px 0;
  }
  #parallaxContainer p {
    font-size: 10px;
  }
  #parallaxContainer h3 {
    font-size: 16px;
    width: 400px;
    margin: 0px 10px;
  }
  #AnimationImgContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #AnimationImgContainer img {
    width: 40px;
  }
  #AnimationImgContainer h1 {
    font-size: 16px;
  }
  #AnimationImgContainer p {
    font-size: 10px;
    width: 150px;
  }
  #singleAnimationImgContainer {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  #AvoidBusiness {
    display: block;
    margin: 40px;
  }
  #AvoidBusiness h1 {
    font-size: 20px;
    margin: 10px 0;
  }
  #AvoidBusiness li {
    font-size: 11px;
    margin: 0px;
  }
  #AvoidBusiness p {
    font-size: 10px;
    width: 350px;
  }
  #AvoidBusiness small {
    padding: 5px;
    font-size: 10px;
  }

  /* Blogs Style */

  #BlogsContainer p {
    font-size: 14px;
    margin: 5px 0;
  }
  #BlogsContainer h1 {
    font-size: 20px;
    margin: 5px 0;
  }
  #BlogsContainer h5 {
    font-size: 14px;
    width: 350px;
  }
  #BlogsContainer button small {
    font-size: 10px;
  }
  #BlogsContainer button img {
    width: 30px;
  }
  #blogPadding {
    padding-bottom:60px ;
  }
  
  /* Single View Blogs Style */

  #BlogsViewContainer{
    margin-top: 60px;
  }
  #BlogsViewSubContainer img{
    width: 340px;
    margin-bottom: 0;
  }
  #BlogsViewSubContainer p small{
    margin: 0px;
    font-size: 10px;
  }
  #BlogsViewSubContainer h1{
    margin: 0px;
    font-size: 18px;
  }
  #BlogsViewSubContainer p{
    font-size: 10px;
    width: 300px;
  }
  #recentPost{
    display: none;
  }
  #ControlMyEmotion{
    padding: 15px 10px;
    text-align: center;
  }
}
